:root {
    --darkGrey: #23272a;
    --lightGrey: #2c2f33;
    --blueGrey: #99aab5;
    --discPurple: #7289da;
    --titleFS: 40px;
    --vertMargins: 33.2px;
    --headerVertPadding: 10px;
    --hztCentrePadding: 175px;
}

hr.bottomDivider{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, var(--lightGrey), var(--blueGrey), var(--lightGrey));
}
.header{
    background-color: var(--darkGrey);
    color: var(--blueGrey);
    font-family: 'Oswald', sans-serif;
    overflow: hidden;
    margin-left: 0%;
    margin-right: 0%;
    text-align: center;
    padding: 2px;
    font-size: var(--titleFS);
    margin-top: 0px;
    padding-top: var(--headerVertPadding);
    padding-bottom: var(--headerVertPadding);
    padding-right: var(--headerVertPadding);
    padding-left: var(--headerVertPadding);
}

/* alignments */
.left{
    float: left;
    color: inherit;
    font-size: inherit;
}

.right{
    float: right;
    color: inherit;
    font-size: inherit;
}

.icon{
    font-family: "Material Icons";
    font-size: var(--titleFS);
    margin-top: 13px;
    margin-bottom:3px;
}

.centre{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-left: var(--hztCentrePadding);
    padding-right: var(--hztCentrePadding);
}

.padded {
    margin: 0px;
    padding: 15px;
}

.em{
    border-radius: 4px;
    border: var(--darkGrey);
    background-color: var(--darkGrey);
    color: beige;
}

.quote{
    font-family: "Tangerine" !important;
    color: var(--discPurple);
    font-size: 30px;
    text-align: center;
}

.author{
    font-family: Garamond;
    text-align: right;
    font-size: 14px;
}

/* default classes */
a{
    color:inherit;
}

a:hover, a:focus{
    color: var(--discPurple);
    transition: 0.5s;
}
body {
    background-color: var(--lightGrey);
    color: white;
    margin:0px
}

p {
    font-family: 'Arima Madurai';
}

img{
    width: 304px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: var(--vertMargins)l;
}

ul {
    list-style-type: square;
}

ol{
    list-style-type: Hebrew;
}
li{
    font-family: "Arima Madurai";
}

h3{
    font-family: "Open Sans Condensed";
}