:root {
    --darkGrey: #23272a;
    --lightGrey: #2c2f33;
    --blueGrey: #99aab5;
    --discPurple: #7289da;
    --cream: #fffaf2;
    --darkWhite: #b8c1e6;
    --darkPurple: indigo;
    --titleFS: 4vh;
    --vertMargins: 2vh;
    --headerVertPadding: 1vh;
    --hztCentrePadding: 35vw;
}

hr.bottomDivider{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, var(--lightGrey), var(--blueGrey), var(--lightGrey));
}
.header{
    background-color: var(--darkGrey);
    color: var(--blueGrey);
    font-family: 'Oswald', sans-serif;
    overflow: hidden;
    margin-left: 0%;
    margin-right: 0%;
    text-align: center;
    padding: 2vw;
    font-size: var(--titleFS);
    margin-top: 0vw;
    padding-top: var(--headerVertPadding);
    padding-bottom: var(--headerVertPadding);
    padding-right: var(--headerVertPadding);
    padding-left: var(--headerVertPadding);
    position: -webkit-sticky;
    position: sticky;
    top:0;
}

/* alignments */
.left{
    float: left;
    color: inherit;
    font-size: inherit;
}

.right{
    float: right;
    color: inherit;
    font-size: inherit;
}

.icon{
    font-family: "Material Icons";
    font-size: var(--titleFS);
    margin-top: 0.8vh;
    margin-bottom:0.4vh;
    cursor: pointer;
}

.centre{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-left: var(--hztCentrePadding);
    padding-right: var(--hztCentrePadding);
}

.padded {
    margin: 1%;
    padding-right: 2vw;
    padding-left: 2vw;
    margin-top: 4vh
}

.em{
    border-radius: 2vh;
    border: var(--darkGrey);
    background-color: var(--darkGrey);
    color: beige;
    font-family: "Hina Mincho";
    margin-top: 3vh;
}

.comradequote{
    font-family: "ZCOOL XiaoWei", serif;
    font-size: 2vw;
    text-align: center;
}

.footquote{
    font-family: "Tangerine" !important;
    color: var(--discPurple);
    font-size: 3vw;
    text-align: center;
}

.footer{
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
}

.author{
    font-family: Garamond;
    text-align: right;
    font-size: 1.5vw;
}

/* default classes */
a{
    color:inherit;
    text-decoration: none;
}

.header.a:hover, a:focus{
    color: var(--discPurple);
    transition: 0.5s;
}

body {
    background-color: var(--lightGrey);
    color: white;
    margin:0;
}

p {
    font-family: 'Arima Madurai';
    font-size: 1vw
}

#para:first-letter{
    font-size: 250%;
}

img{
    width: 304px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: var(--vertMargins)l;
}

table{
    border-collapse: collapse;
    width: 90vw;
}

td, th{
    border: solid;
    border-color: var(--blueGrey);
    font-family: "ZCOOL XiaoWei", serif;
    width:auto;
    background-color: var(--lightGrey);
    align-items: center;
    padding:0.5rem;
}

#bookTable td:hover{
    background-color: yellow;
}

#bookTable .tf:hover{
    background-color: skyblue;
}

th{
    font-family: "Open Sans Condensed";
    background-color: skyblue;
    font-weight: bold;
}

/* form elements*/
    input {
        background-color: var(--cream);
        color: var(--darkGrey);
    }

    input:disabled{
        background-color: silver;
    }

    #grandTotal{
        font-size: 18pt;
        width: 93.5%;
        display: block;
        margin: 0.5vw;
        margin-left: auto;
        text-align: right;
        background-color: var(--blueGrey);
    }

    .tf{
        background-color: skyblue;
    }

    select{
        background-color: var(--cream);
        color: var(--darkGrey);
    }

    input::-webkit-outer-spin-button, input::-webkit-inner-spin-button, input[type=number] {
        -webkit-appearance: none;
        margin: 0;
        -moz-appearance:textfield;
        text-align: right;
    }

    table {
        margin-left: auto;
        margin-right: auto;
    }

    input[type=button], input[type=submit], input[type=reset] {
        background-color: var(--darkGrey);
        border: none;
        color: var(--blueGrey);
        font-family: "Arima Madurai", bold;
        font-weight: bolder;
        width: 25%;
        height:250%;
        margin-right: 2vw;
        cursor: grab;
      }

      input[type="text"], textarea {
        background-color : var(--cream); 
        margin : 1vw;
        display: block;
        padding: 1%;
      }

ul {
    list-style-type: square;
}

ol{
    list-style-type: Hebrew;
    margin: 0.1vh
}
li{
    font-family: "Arima Madurai";
    font-size: 1.25vw;
}

h3{
    font-family: "Open Sans Condensed";
    font-size: 4vh;
    border-bottom: 1px solid var(--discPurple);
    border-bottom-width: 0.0001vw;
    padding: 0.25vh;
    margin-bottom: 0.01vh;
    width: 15vw;
}

/*h4{
    font-family: 'Avro', serif;
    color:var(--blueGrey);
    text-align: center;
}*/

/* NAVIGATION BAR */

nav{
    position: absolute;
    width:100%;
    height: 100vh;
    background-color: var(--darkGrey);
    top: -300vh;
    left: 0;
    display: flex;
    z-index: 2;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-style: italic;
    font-size: 10vh;
    color: var(--cream);
    text-shadow: -0.35vw -0.3vh 0 var(--darkWhite);

    /*Hides navbar until summoned*/
    transition: 1s;
}

nav ul li{
    list-style: none;
    margin: 20vh 0;
    font-size: 5vw;
    font-family: "Avro";
}

nav ul li a:hover{
    color:var(--darkGrey);
    transition: 0.75s;
}

.pwd{
    color: var(--discPurple);
    background-color: inherit;
}

.closebtn{
    position:absolute;
    right: 1vw;
    top: -1vh;
    cursor: pointer;
    font-family: "Material Icons";
    font-size: 3.25vw;
}